# Host
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=your-app-key-1,your-app-key-2,your-app-key-3,your-app-key-4
API_TOKEN_SALT=your-api-token-salt
ADMIN_JWT_SECRET=your-admin-jwt-secret
TRANSFER_TOKEN_SALT=your-transfer-token-salt
JWT_SECRET=your-jwt-secret

# Database
DATABASE_NAME=your-postgres-database-name
DATABASE_URL=your-postgres-database-url
DATABASE_HOST=your-postgres-database-host
DATABASE_PORT=your-postgres-database-port
DATABASE_USERNAME=your-postgres-database-username
DATABASE_PASSWORD=your-postgres-database-password

# Cloudinary
CLOUDINARY_NAME=your-cloudinary-name
CLOUDINARY_KEY=your-cloudinary-key
CLOUDINARY_SECRET=your-cloudinary-secret

# Email Provider
SMTP_USERNAME=your-smtp-username
SMTP_PASSWORD=your-smtp-password
RESET_PASSWORD_URL=your-reset-password-url
SMTP_HOST=your-smtp-host
SMTP_PORT=your-smtp-port
